*{
   margin:0;
   padding:0;
   box-sizing:border-box;
}

header{
    width:100%;
    height:100%;
    top:0;
    position:sticky;
    z-index:100;
}
.first{
    padding:100px 0;
    background-image: url(../img/image.png);
}
.axis .line{
    border-bottom:2px solid white;
    width:10%;
}
.axis a{
    text-decoration: none;
    border:1px solid white;
    color:white;
    padding:5px 15px;
    /* margin-top:20px; */
}
.axis a:hover{
    opacity:0.8;
}
.card-text input{
    border:none;
    outline:none;
    border-bottom:1px solid grey;
    /* margin:20px 0; */
    padding:15px 0;
}
.link a{
    text-decoration: none;
    background-color: orange;
    padding:7px 10px;
    display:block;
    color:white;
}
.social{
    border-bottom: 1px solid lightgray;
}
.tab{
    background-color:black;
    padding:35px 15px;
}
.tab:hover{
   background-color: orange; 
}
.button{
    background-color: orange;
    border:none;
    color:white;
    padding:5px 10px;
}
.sub{
    position:relative;
    padding:10px 0px;
}
.sub::after{
    position:absolute;
    content:"";
    /* height:2px; */
    width:0;
    /* top:40px; */
    bottom:0;
    left:50%;
    border-bottom: 2px solid orange;
    transition:0.6s;
}
.sub:hover::after{
    width:100%;
    left:0;
}
.sub2{
    position:relative;
    padding:10px 0px;
}
.sub2::after{
    position:absolute;
    content:"";
    /* height:2px; */
    width:0;
    /* top:40px; */
    bottom:0;
    left:50%;
    border-bottom: 2px solid white;
    transition:0.6s;
}
.sub2:hover::after{
    width:100%;
    left:0;
}
.CARD{
    background-color: #252527;
    border-bottom:5px solid orange
}
.CARD1{
    background-color: #252527;
}
.card-title{
    border-bottom:1px solid white;
}
.bg-card{
   background-color: orange;
}
.lorem{
    border:1px solid #f5f5f5;
    background-color: #f5f5f5;
}
.lorem{
    position:relative;
}
.lorem::after{
    content:"";
    position:absolute;
    top:90%;
    height: 25px;
    rotate:45deg;
    width: 25px;
    /* border-bottom:1px solid #f5f5f5;
    border-right:1px solid  #f5f5f5; */
    background-color: #f5f5f5;
    left:10%;
}
.stylish{
    background-image: url(../img/image.png);
}
.text4 a{
    text-decoration: none;
    border:1px solid white;
    color:white;
    padding:5px 15px;
}
.text6 input{
     outline:none;
     border:none;
     border-bottom:1px solid grey;
     width:90%;
}
.text7 textarea{
    outline:none;
    border:none;
    border-bottom:1px solid grey;
    width:100%;
}
